.layout{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  transition: var(--transition);
}
.content{
  flex: 1 1 auto;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg);
  padding: 24px 16px;
  transition: var(--transition);
}