.footer{
  width: 100%;
  background-color: var(--bg);
  transition: var(--transition);
  padding: 0 16px;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 0;
  border-top: 1px solid var(--border);
  transition: var(--transition);
}