services:
  postgres:
    image: postgres:15-alpine
    container_name: marketplace_postgres

    env_file:
      - .env

    ports:
      - "127.0.0.1:5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

    restart: unless-stopped

volumes:
  postgres_data:
